/*! CSS Used from: https://redbull.applications-zone.com/careers/jobs/static/css/main.ef48ee9e.css */
*,:after,:before{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-scroll-snap-strictness:proximity;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:#3b82f680;--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
*,:after,:before{border:0 solid #e5e7eb;box-sizing:border-box;}
:after,:before{--tw-content:"";}
button,input{font-feature-settings:inherit;color:inherit;font-family:inherit;font-size:100%;font-variation-settings:inherit;font-weight:inherit;letter-spacing:inherit;line-height:inherit;margin:0;padding:0;}
button{text-transform:none;}
button{-webkit-appearance:button;background-color:initial;background-image:none;}
p{margin:0;}
input::placeholder{color:#9ca3af;opacity:1;}
button{cursor:pointer;}
:disabled{cursor:default;}
img{display:block;vertical-align:middle;}
img{height:auto;max-width:100%;}
.mb-2{margin-bottom:.5rem;}
.mb-4{margin-bottom:1rem;}
.mt-1{margin-top:.25rem;}
.mt-2{margin-top:.5rem;}
.mt-4{margin-top:1rem;}
.flex{display:flex;}
.h-14{height:3.5rem;}
.h-auto{height:auto;}
.h-full{height:100%;}
.h-screen{height:100vh;}
.w-full{width:100%;}
.w-screen{width:100vw;}
.max-w-md{max-width:28rem;}
.flex-col{flex-direction:column;}
.items-start{align-items:flex-start;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.rounded{border-radius:.25rem;}
.rounded-\[16px\]{border-radius:16px;}
.rounded-xl{border-radius:.75rem;}
.border{border-width:1px;}
.border-\[\#ccd3db\]{--tw-border-opacity:1;border-color:rgb(204 211 219/var(--tw-border-opacity));}
.bg-blue-500{--tw-bg-opacity:1;background-color:rgb(59 130 246/var(--tw-bg-opacity));}
.bg-white{background-color:rgb(255 255 255/var(--tw-bg-opacity));}
.bg-white{--tw-bg-opacity:1;}
.object-cover{object-fit:cover;}
.px-6{padding-left:1.5rem;padding-right:1.5rem;}
.py-3{padding-bottom:.75rem;padding-top:.75rem;}
.py-6{padding-bottom:1.5rem;padding-top:1.5rem;}
.pb-4{padding-bottom:1rem;}
.pl-4{padding-left:1rem;}
.pl-\[4px\]{padding-left:4px;}
.pr-\[20px\]{padding-right:20px;}
.pt-4{padding-top:1rem;}
.pt-\[5rem\]{padding-top:5rem;}
.text-\[13px\]{font-size:13px;}
.text-\[14px\]{font-size:14px;}
.text-\[15px\]{font-size:15px;}
.text-\[24px\]{font-size:24px;}
.font-\[15px\]{font-weight:15px;}
.font-\[400\]{font-weight:400;}
.font-\[500\]{font-weight:500;}
.font-\[600\]{font-weight:600;}
.text-\[\#5d6c7b\]{--tw-text-opacity:1;color:rgb(93 108 123/var(--tw-text-opacity));}
.text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity));}
.hover\:bg-blue-600:hover{--tw-bg-opacity:1;background-color:rgb(37 99 235/var(--tw-bg-opacity));}
.focus\:border-\[\#1c1e21\]:focus{--tw-border-opacity:1;border-color:rgb(28 30 33/var(--tw-border-opacity));}
.focus\:outline-none:focus{outline:2px solid #0000;outline-offset:2px;}
@media (min-width:768px){
.md\:max-w-lg{max-width:32rem;}
.md\:py-8{padding-bottom:2rem;padding-top:2rem;}
}